@charset "UTF-8";

@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --cor-principal: rgb(0, 0, 0);
    --titulo-rodape: rgb(104, 104, 104);
    --texto-rodape: #FFF;
}

body,
html{
    background: rgb(190, 190, 190);
}

.cabecalho{
    background: #FFF;
}

.image-header{
    width: 250px;
    height: auto;
}

.image-header img{
    width: 100%;
    height: auto;
}

.card{
    width: 100%;
    max-width: 375px;
}

.card-header h2{
    color: #FFF;
}

.lista-detalhes li span{
    font-size: .8em;
    line-height: 1;
}

.bg-principal{
    background: var(--cor-principal);
}

.btn-principal{
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    transition: background .3s, color .3s;
}

.btn-principal:hover{
    background: var(--cor-principal);
    color: #FFF;
}

.card-header{
    position: relative;
}

.detalhes-produto{
    height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
    color: #FFF;
}

.btn-comprar{
    border: 1px solid rgb(0, 119, 255);
    background: rgb(0, 119, 255);
    color: #FFF;
    transition: background .3s, color .3s;
}

.btn-comprar:hover{
    background: #FFF;
    color: rgb(0, 119, 255);
}

.comentario img{
    width: 120px;
    height: auto;
    border-radius: 100%;
}

.btn-comentarios{
    background: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    color: #FFF;
    transition: background .3s, color .3s;
}

.carregar{
    width: 40px;
    height: 40px;
    border: 5px solid var(--texto-rodape);
    border-radius: 100%;
    border-top: 5px solid transparent;
    animation: carregar .8s ease-in-out infinite;
}

.btn-comentarios:hover{
    background: #FFF;
    color: var(--cor-principal);
}

.texto-cor-principal{
    color: var(--cor-principal);
    transition: color .3s;
}

.texto-cor-principal-hover{
    color: var(--cor-principal);
}

/* //////// ICONES /////// */
.fa-shield-alt,
.lista-detalhes .list-group-item:nth-child(1) span b{
    color: rgb(0, 119, 255);
}

.fa-registered,
.lista-detalhes .list-group-item:nth-child(2) span b{
    color: rgb(255, 196, 0);
}

.fa-check-square,
.fa-check-circle,
.lista-detalhes .list-group-item:nth-child(3) span b{
    color: rgb(3, 187, 3);
}

.fa-award,
.lista-detalhes .list-group-item:nth-child(4) span b{
    color: rgb(255, 0, 0);
}

.descricao-produto div h2{
    font-weight: 500;
}

.descricao-produto div .list-group li{
    background: rgb(190, 190, 190);
}

.image-list{
    width: 180px;
}

.image-list img{
    width: 100%;
    height: auto;
}

/* //////// POLÍTICAS ///////// */
.politicas h1{
    background: var(--cor-principal);
    color: var(--texto-rodape);
}

.politicas h2{
    color: var(--cor-principal);
    font-weight: bolder;
    margin-top: 50px;
}

/* ///// RODAPÉ ///// */
footer .list-group li{
    color: var(--texto-rodape);
    background: var(--cor-principal);
}


footer .list-group li a{
    color: var(--texto-rodape);
    transition: color .3s;
}

footer .list-group li a:hover{
    color: rgb(146, 146, 146);
}

footer h5{
    color: var(--titulo-rodape);
}

footer p{
    color: var(--titulo-rodape);
}

footer .links > div{
    border-bottom: 2px solid var(--texto-rodape);
}

/* ///// MODAL ///// */
.componente-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.conteudo-modal{
    width: 100%;
    max-width: 500px;
    height: 500px;
    background: #FFF;
}

.conteudo-modal > div > span{
    font-size: .7em;
}

.header-modal{
    position: relative;
    height: 80px;
    background: #FFB300;
}

.header-modal p{
    font-family: Anton;
    line-height: 1;
    font-size: 1.9em;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.header-modal i{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.image-modal{
    width: 100%;
    max-width: 500px;
    height: 220px;
    margin: auto;
}

.image-modal img{
    width: 100%;
    height: auto;
}

.satisfacao{
    width: 30%;
    height: 200px;
}

.satisfacao i{
    font-size: 150px;
    filter: drop-shadow(2px 2px 5px #000);
}
.preco{
    height: 200px;
}

.preco-btn{
    width: 70%;
}

.preco{
    width: 100%;
    height: 130px;
}

.preco p{
    font-family: Anton;
    line-height: 1;
    font-size: 3em;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    margin-right: 5px;
}

.preco span,
.preco small{
    font-family: Anton;
    font-weight: bolder;
}

.preco p small{
    font-size: .9em;
    color: rgb(82, 82, 82);
    font-style: italic;
    text-decoration: line-through;
}

.btn-modal{
    height: 55px;
}

.btn-modal a{
    font-family: Anton;
    font-size: 1.8em;
    font-weight: bolder;
    background: rgb(0, 240, 80);
    transition: background .4s;
}

.btn-modal a:hover{
    background: #CCC;
}

/* ///// MEDIA QUERIES ///// */
@media only screen and (max-width: 995px){
    .descricao-produto div h2{
        font-size: 1.8em;
    }
    .descricao-produto div .list-group li{
        font-size: .8em;
    }
}

@media only screen and (max-width: 520px){
    footer section{
        flex-direction: column;
    }

    footer section > div{
        text-align: center;
    }
}

/* ///// KEYFRAMES ///// */
.pulse{
    animation: pulse .6s ease-out infinite ;
}

.abrir-modal{
    animation: abrir-modal 0.8s linear forwards;
}

.fechar-modal{
    animation: fechar-modal 0.8s linear forwards;
}

@keyframes pulse{
    0% {
      transform: scale(0.9);
      opacity: 0.9;
  }
  50% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(0.9);
      opacity: 0.9;
  }
}

@keyframes abrir-modal {
    0%{
        transform: scale(0);
    }
    33%{
        transform: scale(1);
    }
    66%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
        background: rgba(0, 0, 0, 0.514);
    }
}

@keyframes fechar-modal {
    0%{
        transform: scale(1);
        background: rgba(0, 0, 0, 0.514);
    }
    33%{
        transform: scale(1.05);
    }
    66%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes carregar {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}