@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html{
    background: rgb(190, 190, 190);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-relative{
    position: relative;
}

input[type="checkbox"]{
    cursor: pointer;
}

/* ///////// PAGINA DE USUARIO ////////// */
.imagen-usuario{
    width: 150px;
    height: 150px;
}

.imagen-usuario img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.imagen-usuario-menu{
    width: 70px;
    height: 70px;
}

.imagen-usuario-menu img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

/* ////// MENU DE NAVEGAÇÃO ////// */
.navegacao{
    position: fixed;
    top: 0;
    right: -200px;
    background: #FFF;
    width: 200px;
    height: 100%;
    padding: 10px;
    z-index: 1;
}

.navegacao .menu{
    margin-left: -50px;
    margin-top: 20px;
    cursor: pointer;
}

.navegacao .usuario{
    margin-top: -40px;
}

/* /////////////////// */
.image-header{
    width: 150px;
    height: auto;
}

.image-header img{
    width: 100%;
    height: auto;
}

.formulario span{
    font-size: .8em;
    color: rgb(121, 121, 121);
}

.btn-info,
.btn-warning{
    color: #FFF;
}

.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-primary:hover,
.btn-secondary:hover{
    color: #000;
}

#pai label{
    font-size: .8em;
}

.sessao-excluir{
    background: rgba(0, 0, 0, 0.363);
}

.btnRemoverErro{
    cursor: pointer;
    font-size: .9em;
}

.removerErro{
    font-size: .9em;
}

.image-list{
    width: 150px;
}

.image-list img{
    width: 100%;
    height: auto;
}

/* /////// GALERIA /////// */
.cartao-imagen{
    width: 120px;
    height: 120px;
}

.cartao-imagen img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.cartao-imagen img,
.cartao-imagen a{
    cursor: pointer;
}

.cartao-imagen a{
    background: #FFF;
    border-radius: 5px;
    padding: 0 3px;
    position: absolute;
    bottom: 0;
    right: 2px;
}

.cartao-popup{
    width: 99%;
    max-width: 1000px;
    height: 90%;
    max-height: 600px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#imagen-carrosel-galeria{
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

/* //////// KEYFRAMES ///////// */
.rotacao{
    animation: rotacao .3s linear forwards;
}

.rotacaoInversa{
    animation: rotacaoInversa .3s linear forwards;
}

.abrirMenu{
    animation: abrirMenu .3s linear forwards;
}

.fecharMenu{
    animation: fecharMenu .3s linear forwards;
}

.abrirCarrosel{
    animation: abrirCarrosel .5s ease-in forwards
}

.fecharCarrosel{
    animation: fecharCarrosel .5s ease-in forwards
}

@keyframes rotacao {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes rotacaoInversa {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes abrirMenu {
    0%{
        right: -200px;
    }
    100%{
        right: 0;
    }
}

@keyframes fecharMenu {
    0%{
        right: 0;
    }
    100%{
        right: -200px;
    }
}

@keyframes abrirCarrosel{
    0%{
        transform:  scale(0)
    }
    100%{
        transform:  scale(1)
    }
}

@keyframes fecharCarrosel{
    0%{
        transform:  scale(1)
    }
    100%{
        transform:  scale(0)
    }
}

/* ////////// MEDIAQUERIES ///////// */
@media only screen and (max-width: 650px){
    .cartao-imagen{
        width: 100px;
        height: 130px;
    }
    .cartao-imagen img{
        width: 100px;
        height: 100px;
    }
}